.phonebookwrap{
    display: flex;
    width: 1200px;
    margin : 0 auto;
    flex-direction: column;
}

table{
    border-collapse: collapse;
    text-align: center;
}

.inputArea{
    margin : 10px 10px 10px 0px;

}
th{
    background-color: #e8e8e8;
}